.todo-func {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1.6rem;

	@media screen and (min-width: 48em) {
		grid-template-columns: repeat(3, 1fr);
		background-color: var(--bg-todo);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&__left,
	&__clear-button {
		font-size: var(--text-small);
		color: var(--text-color-gray);

		@media screen and (min-width: 48em) {
			font-size: var(--text-md);
		}
	}

	&__left,
	&__clear {
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
	}

	&__left {
		background-color: var(--bg-todo);
		border-bottom-left-radius: 5px;
		padding-left: 2rem;

		@media screen and (min-width: 48em) {
			padding-left: 2.4rem;
			background-color: transparent;
		}
	}
	&__clear {
		background-color: var(--bg-todo);
		text-align: right;
		border-bottom-right-radius: 5px;
		padding-right: 2rem;

		&-button:hover {
			color: var(--hover-color);
		}

		@media screen and (min-width: 48em) {
			padding-right: 2.4rem;
			background-color: transparent;
		}
	}

	&__filter {
		grid-column: 1 / -1;
		background-color: var(--bg-todo);
		border-radius: 5px;
		padding: 1.6rem 0;

		@media screen and (min-width: 48em) {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			border-radius: 0;
			background-color: transparent;
			padding: 0;
			align-self: center;
		}

		&-button {
			display: flex;
			gap: 2rem;
			justify-content: center;

			& button {
				color: var(--text-color-gray);
				font-size: var(--text-small);
				font-weight: 700;

				&:not(.active) {
					&:hover {
						color: var(--hover-color);
					}
				}

				@media screen and (min-width: 48em) {
					font-size: var(--text-md);
				}
			}

			& button.active {
				color: var(--blue);
			}
		}
	}
}
