.todo-list {
	&__info {
		padding: 1.6rem 2rem 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		& p {
			color: var(--color-filter);

			@media (min-width: 48em) {
				font-size: 1.4rem;
			}
		}
	}
	&__button {
		background: transparent;
		border: none;
		color: var(--color-filter);
		cursor: pointer;
		transition: color 0.2s;

		@media (min-width: 48em) {
			font-size: 1.4rem;
		}

		&:hover {
			color: var(--hover-color);
		}
	}
}
