.todo {
	position: absolute;
	top: 5rem;
	left: 50%;
	transform: translateX(-50%);
	width: 32.7rem;
	display: flex;
	flex-direction: column;
	row-gap: 4rem;

	@media (min-width: 48em) {
		top: 7rem;
		width: 54rem;
	}
}

label {
	width: 2rem;
	height: 2rem;
	display: block;
	border-radius: 50%;
	border: 1px solid var(--bd-color);
	position: relative;
	cursor: pointer;
	// margin-right: 1.2rem;
	transition: all 0.2s;

	@media (min-width: 48em) {
		width: 2.4rem;
		height: 2.4rem;
	}

	&:hover {
		border: 1px solid transparent;
		background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
			linear-gradient(to right bottom, var(--check-blue), var(--check-purple))
				border-box;
	}
}
