*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#root,
#__next {
	isolation: isolate;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:ital,wght@0,400;1,700&display=swap');

:root {
	// Fonts
	--font-josefin: 'Josefin Sans', sans-serif;

	// Font-Size
	--text-small: 1.2rem;
	--text-md: 1.4rem;
	--text-lg: 1.8rem;
	--heading-pc: 4rem;
	--heading-sp: 2.8rem;

	// Color
	--white: hsl(0, 0%, 100%);
	--blue: hsl(220, 98%, 61%);
	--check-blue: hsl(192, 100%, 67%);
	--check-purple: hsl(280, 87%, 65%);

	&.dark-theme {
		--bg-body: hsl(235, 21%, 11%);
		--bg-todo: hsl(235, 24%, 19%);
		--border-color: hsl(237, 14%, 26%);
		--todo-color: hsl(234, 39%, 85%);
		--text-color-gray: hsl(235, 16%, 42%);
		--hover-color: hsl(236, 32%, 92%);
		--complete-color: hsl(233, 14%, 35%);
	}

	&.light-theme {
		--bg-body: hsl(0, 0%, 98%);
		--bg-todo: hsl(0, 0%, 100%);
		--border-color: hsl(236, 32%, 92%);
		--todo-color: hsl(235, 19%, 35%);
		--text-color-gray: hsl(235, 9%, 61%);
		--hover-color: hsl(235, 19%, 35%);
		--complete-color: hsl(233, 11%, 84%);
	}
}
