.todos {
	position: relative;
}

.drag-drop {
	display: block;
	margin-top: 7rem;
	padding-bottom: 7.2rem;
	text-align: center;
	color: var(--color-filter);
	font-size: 1.4rem;
	position: absolute;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}
